.header
	.home-menu.pure-menu.pure-menu-horizontal

.content-wrapper
	.content
		%h1.content-head.is-center Themextractor
		%h2.content-subhead.is-center The best way to not read a text and know what it's about

		.content-form
			%form#content-form-obj.pure-form{onSubmit:"return SemanticController.SendText(this)"}
				%fieldset.pure-group
					%label{for:"content-form-text"} Put your text here:
					%textarea#content-form-text.pure-input-1-1{name:"content-form-text", rows:5, style:"width:100%", form:"content-form-obj", placeholder:"Lorem ipsum dolor...", required:true}
					%label{for:"content-form-resultsnb"} Number of results&nbsp;
					%select#content-form-resultsnb{name:"content-form-resultsnb"}
						%option{value:"1"} 1
						%option{value:"2"} 2
						%option{value:"3", selected:true} 3
						%option{value:"4"} 4
						%option{value:"5"} 5
						%option{value:"6"} 6
						%option{value:"7"} 7
					%button.pure-button.pure-button-primary{type:"submit"} Go!

		.content-results.pure-g#result-view
			.pure-u-1.pure-u-md-1-2
				%table.pure-table.pure-table-horizontal#result-view-table{style:"width:100%"}
					%thead
						%tr
							%th #
							%th Topic
							%th Score
					%tbody
			.pure-u-1.pure-u-md-1-2{style:"background-color:gray;color:white;"} Chart
		.content-wait.pure-g#wait-view
			.pure-u-1.pure-u-md-1-1.is-center
				%img{src:"/img/wait.gif", style:"width:2em;"}
				%p It might be long...

.footer.l-box.is-center
	%a{href:"http://www.github.com/kbogtob"} 
		%i.fa.fa-github

%script{:type => "text/javascript"} $(document).ready(function(){SemanticView.hideResults();SemanticView.hideWait();});